body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: flex;
  flex-direction: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  display: flex;
  flex-direction: column;
  background-color: black;
  transition: all 0.07s;
  color: yellow;
  height: 52px;
  width: 60px;
  padding: 8px;
  margin: 8px;
  text-align: center;
}

kbd {
  display: block;
  font-size: 1.5rem;
}

.playing {
  transform: scale(1.1);
  border-style: solid;
  border-color: yellow;
}

.drum-kit-app {
  background: url("./images/js-drum-kit-bg.jpeg");
  background-repeat: no-repeat;
  height: 100%;
  background-size: cover;
}
